@media(min-width:320px) and (max-width:365px){
    iframe{
        width: 100%;
    }}
    @media(min-width:452px) and (max-width:467px){
     div.input-group{
         width: 85%;
         margin-left:30px;
     }
    }
    @media(min-width:468px) and (max-width:601px){
    div.input-group{
        width:85%;
        margin-left:30px;
    }
    }
    @media(min-width:602px) and (max-width:675px){
    div.input-group{
        width:85%;
        margin-left:30px;
    } 
    } 
    a.icon-block {
        display:inline-block;
        float:left;
        text-align:center;
    }
    
    a.icon-block i,
    a.icon-block span {
        display:block;
        clear:both;
    }
    